NEXT_SHARP_PATH=/tmp/node_modules/sharp
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

NEXT_DEFAULT_PASSWORD = "V42455SKHDKSHF"
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL="mongodb+srv://voromil970:q9aLNL7nsD8EDzwL@cluster0.rlvax.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

EDGE_STORE_ACCESS_KEY="YPAfruFYUZx5jY"
EDGE_STORE_SECRET_KEY="7k2xH6vRsugg"
